<script defer src="https://unpkg.com/img-comparison-slider@7/dist/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/img-comparison-slider@7/dist/styles.css" />

<style>
    .before,
    .after {
        margin: 0;
    }

    .before figcaption,
    .after figcaption {
        background: #fff;
        border: 1px solid #c0c0c0;
        border-radius: 12px;
        color: #2e3452;
        opacity: 0.8;
        padding: 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        line-height: 100%;
    }

    .before figcaption {
        left: 12px;
    }

    .after figcaption {
        right: 12px;
    }

    figcaption {
        text-align: center;
    }
</style>
<style class="darkreader darkreader--sync" media="screen"></style>

<img-comparison-slider>
    <figure slot="first" class="before" id="firstFigure">
        <img width="100%" src="{{site.url}}/images/variants/full.jpg">
        <figcaption>P4 Full</figcaption>
    </figure>
    <figure slot="second" class="after" id="secondFigure">
        <img width="100%" src="{{site.url}}/images/variants/vanilla.jpg">
        <figcaption>Vanilla</figcaption>
    </figure>
</img-comparison-slider>

<div style="display: flex;">
    <div>
        <h4 style="margin: 0px;">Left Side</h4>
        <form id="firstForm" style="padding: 5px;">
            <div>
                <input type="checkbox" name="hidden field" value="hidden field">
                <label for="hidden field">Hidden Field Name</label>
            </div>
            <div>
                <input type="checkbox" name="colours" value="colours">
                <label for="colours">Altered Colours</label>
            </div>
            <div>
                <input type="checkbox" name="gradient" value="gradient">
                <label for="gradient">No Gradient</label>
            </div>
            <div>
                <input type="checkbox" name="yellow" value="yellow">
                <label for="yellow">No Yellow Outline</label>
            </div>
            <div>
                <input type="checkbox" name="resized" value="resized">
                <label for="resized">Resized Box</label>
            </div>
            <div>
                <input type="checkbox" name="full" value="full" checked>
                <label for="full">Full P4 Style</label>
            </div>
            <div>
                <input type="checkbox" name="persona 4" value="persona 4">
                <label for="persona 4">Persona 4</label>
            </div>
        </form>
    </div>

    <div>
        <h4 style="margin: 0px;">Right Side</h4>
        <form id="secondForm" style="padding: 5px;">
            <div>
                <input type="checkbox" name="hidden field" value="hidden field">
                <label for="hidden field">Hidden Field Name</label>
            </div>
            <div>
                <input type="checkbox" name="colours" value="colours">
                <label for="colours">Altered Colours</label>
            </div>
            <div>
                <input type="checkbox" name="gradient" value="gradient">
                <label for="gradient">No Gradient</label>
            </div>
            <div>
                <input type="checkbox" name="yellow" value="yellow">
                <label for="yellow">No Yellow Outline</label>
            </div>
            <div>
                <input type="checkbox" name="resized" value="resized">
                <label for="resized">Resized Box</label>
            </div>
            <div>
                <input type="checkbox" name="full" value="full">
                <label for="full">Full P4 Style</label>
            </div>
            <div>
                <input type="checkbox" name="persona 4" value="persona 4">
                <label for="persona 4">Persona 4</label>
            </div>
        </form>
    </div>
</div>

<script>
    // Manually made :(
    let validFiles = ["colours gradient hidden field.jpg",
        "colours gradient.jpg",
        "colours hidden field.jpg",
        "colours.jpg",
        "full hidden field.jpg",
        "full.jpg",
        "gradient hidden field.jpg",
        "gradient.jpg",
        "hidden field resized.jpg",
        "hidden field yellow.jpg",
        "hidden field.jpg",
        "resized.jpg",
        "vanilla.jpg",
        "yellow.jpg",
        "persona 4.jpg"];

    function setCheckBoxes(form, figure) {
        let checkedInputs = form.querySelectorAll('input:checked');
        let labels = form.querySelectorAll('label');
        let checkedValues = [];
        let checkedNames = [];
        checkedInputs.forEach(input => {
            checkedValues.push(input.value);
            labels.forEach(label => {
                if (label.htmlFor == input.value)
                    checkedNames.push(label.innerText);
            });
        })

        let formInputs = form.querySelectorAll('input');
        formInputs.forEach(input => {
            let nameList = [...checkedValues];
            if (!nameList.includes(input.value))
                nameList.push(input.value);
            nameList.sort();
            let name = nameList.join(" ") + ".jpg";
            if (validFiles.includes(name))
                input.disabled = false;
            else
                input.disabled = true;
        });
        checkedValues.sort();
        checkedNames.sort();
        let name = checkedValues.join(" ") + ".jpg";
        let displayName = checkedNames.join("\n+\n");
        if (checkedValues.length == 0) {
            name = "vanilla.jpg";
            displayName = "Vanilla";
        }
        figure.childNodes[1].src = `{{site.url}}/images/variants/${name}`;
        figure.childNodes[3].innerText = displayName;
    }

    function addChangeListeners(form, figure) {
        let formInputs = form.querySelectorAll('input');
        formInputs.forEach(input => {
            input.addEventListener('change', function () {
                setCheckBoxes(form, figure);
            });
        });
    }

    let firstForm = document.getElementById('firstForm');
    let firstFigure = document.getElementById('firstFigure');
    let secondForm = document.getElementById('secondForm');
    let secondFigure = document.getElementById('secondFigure');
    window.onload = () => {
        setCheckBoxes(firstForm, firstFigure);
        setCheckBoxes(secondForm, secondFigure);
    }
    addChangeListeners(firstForm, firstFigure);
    addChangeListeners(secondForm, secondFigure);



</script>